__pycache__
*.pyc
*.egg-info

.coverage
.tox
/htmlcov
/docs/_build/

.python-version
venv

/static/*
!/static/README.md
/media/*
!/media/README.md
/private/*
!/private/README.md

.idea
.vscode
.history

*.sqlite3

local.py
