{% load i18n %}{% autoescape off %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>
    @import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

    body {
      font-family: 'Poppins', Helvetica, Arial, sans-serif;
      color: #212529;
    }

    p {
      font-size: 16px;
      line-height: 1.5em;
    }

    a {
      color: #18D873;
      text-decoration: none;
    }

    @media only screen and (max-width: 600px) {
      table[class=w600], td[class=w600] { width: 300px !important; }
      table[class=w560], td[class=w560] { width: 280px !important; }
      table[class=w100], td[class=w100] { width: 50px !important; }
      table[class=w20], td[class=w20] { width: 10px !important; }
      td[class='w600 h20'] { width: 300px !important;  height: 10px !important; }
      td[class=h20] {  height: 10px !important; }

      h1{
        font-size: 18px !important;
        line-height: 1.4em !important;
      }

      p {
        font-size: 12px !important;
      }
    }
  </style>
</head>
<body style="margin:0px; padding:0px;">
  <table border="0" cellspacing="0" cellpadding="0" width="100%" bgcolor="#f1f1f1">
    <tbody>
      <tr>
        <td align="center">
          <table border="0" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td class="w600" width="600px" height="20px"></td>
              </tr>
              <tr>
                <td class="w600" width="600" align="left" style="background-color: #FFFFFF; border-radius:20px;">
                  <table class="w600" width="600" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td class="w600" width="600px" height="20px"></td>
                      </tr>
                      <tr>
                        <table class="w600" width="600" border="0" cellspacing="0" cellpadding="0" style="background-color: #FFFFFF; border-radius:20px;">
                          <tbody>
                            <tr>
                              <td class="w20" width="20"></td>
                              <td class="w560" width="560" align="center">
                                <h1>Bonjour,</h1>
                              </td>
                              <td class="w20" width="20"></td>
                            </tr>
                            <tr>
                              <td class="w20" width="20"></td>
                              <td class="w560" width="560" style="vertical-align:top;">
                                <table class="w560" width="560">
                                  <tbody>
                                    <tr>
                                      <td>
                                          <p>
                                            {% blocktrans %}
                                            Vous avez demandé à réinitialiser votre mot de passe.
                                            Cliquez sur le lien ci-dessous pour le changer :
                                            {% endblocktrans %}
                                          </p>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                              <td class="w20" width="20"></td>
                            </tr>
                            <tr>
                              <td class="w20" width="20"></td>
                              <td class="w560" width="560" style="vertical-align:top;">
                                <table class="w560" width="560">
                                  <tbody>
                                    <tr>
                                      <td>
                                        <a href="{{ reset_password_link }}"
                                          style="display: block;
                                            height: 45px;
                                            text-align: center;
                                            background-color: #18D873;
                                            border-radius: 10px;
                                            color: #fff;
                                            text-transform: uppercase;
                                            font-size: 14px;
                                            letter-spacing: 1px;
                                            font-weight: bold;
                                            line-height: 45px;
                                            box-shadow: 0 5px 6px rgba(24, 216, 115, 0.3);">
                                          {% blocktrans %}
                                          Réinitialiser mon mot de passe
                                          {% endblocktrans %}
                                        </a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                              <td class="w20" width="20"></td>
                            </tr>
                            <tr>
                              <td class="w20" width="20"></td>
                              <td class="w560" width="560" style="vertical-align:top;">
                                <table class="w560" width="560">
                                  <tbody>
                                    <tr>
                                      <td>
                                        <p>
                                          {% blocktrans %}
                                          Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer ce message.
                                          {% endblocktrans %}
                                        </p>
                                        <p style="font-style: italic;">
                                          {% blocktrans %}
                                          L'équipe {{ project_name }}
                                          {% endblocktrans %}
                                        </p>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                              <td class="w20" width="20"></td>
                            </tr>
                          </tbody>
                        </table>
                      </tr>
                      <tr>
                        <td class="w600" width="600" align="left">
                          <table class="w600" width="600" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                              <tr>
                                <td class="w20" width="20"></td>
                                <td class="w560" width="560">
                                  <p style="font-size: 12px; color: #555">
                                    {% blocktrans %}
                                    Le bouton ne fonctionne pas ? Collez ce lien dans votre navigateur : <a href="{{ reset_password_link }}">{{ reset_password_link }}</a>
                                    {% endblocktrans %}
                                  </p>
                                </td>
                                <td class="w20" width="20"></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="w600" width="600px" height="20px"></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
{% endautoescape %}
